{% load staticfiles %}
<script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script src="{% static 'cookiecontrol/cookiecontrol.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
cookieControl({
    introText:'{{ conf.intro_text|safe|escapejs }}',
    fullText:'{{ conf.full_text|safe|escapejs }}',
    position:'{{ conf.position }}',
    shape:'{{ conf.shape }}',
    theme:'{{ conf.theme }}',
    consentModel:'{{ conf.consent_model }}',
    protectedCookies: [],
    startOpen:{% if conf.start_open %}true{% else %}false{% endif %},
    autoHide:{{ conf.auto_hide }} * 1000,
    subdomains:{% if conf.subdomains %}true{% else %}false{% endif %},
    onAccept:function(){ ccAddAnalytics(); },
    onReady:function(){},
    onCookiesAllowed:function(){ ccAddAnalytics(); },
    onCookiesNotAllowed:function(){ {% if conf.piwik_enabled %}ccPiwikImageTracker();{% endif %} },
    countries:'{{ conf.countries }}'
});

function ccAddAnalytics() {
    {% if not request.user.is_staff %}
        {% if conf.ga_enabled %}
        jQuery.getScript("http://www.google-analytics.com/ga.js", function() {
            var GATracker = _gat._createTracker('{{ conf.ga_id }}');
            GATracker._trackPageview();
        });
        {% endif %}
        {% if conf.piwik_enabled %}
        jQuery.getScript('{{ conf.piwik_base_url }}/piwik.js', function(){
            var piwikTracker = Piwik.getTracker("{{ conf.piwik_base_url }}/piwik.php", "{{ conf.piwik_site_id }}");
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
        });
        {% endif %}
    {% endif %}
}

{% if conf.piwik_enabled %}
function ccPiwikImageTracker() {
    var doc_title=document.title;
    var doc_ref=document.referrer;
    $('body').append("<img src=\"{{ conf.piwik_base_url }}/piwik.php?idsite={{ conf.piwik_site_id }}&amp;rec=1&amp;action_name="+doc_title+"&amp;urlref="+doc_ref+"\" style=\"border:0\" />");
}
{% endif %}

{% if not conf.addthis_allow_cookies %}
if (typeof addthis_config !== "undefined") {
    addthis_config.data_use_cookies = false
} else {
    var addthis_config = {data_use_cookies: false};
}
{% endif %}

//]]>
</script>